// Підвал (без лого та соц-мереж)

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-wrap {
    @include centerFlex();
    flex-direction: column;
    @include desctop {
        @include centerFlex($ai: baseline, $jc: flex-start);
        flex-direction: row;
    }
}
.footer-meta {
    text-align: center;
    @include tablet {
        display: flex;
        align-items: baseline;    
        gap: 160px;    
        margin-bottom: 60px;
    }
    @include desctop {
        text-align: left;
        gap: 70px;
        margin-bottom: 0;
        margin-left: 200px;
    }
}

.address-wrap {
    margin-top: 20px;
}

.footer-contacts__address-link {
    color: var(--tertiary-bg-and-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.footer-contacts__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--transition-timing-function);
    @include font (400, 14px, 1.7);
    margin-top: 8px;
    @include desctop {
        margin-top: 9px;
    }
    &:hover,
    &:focus {
        color: var(--primary-accent-bg-and-text-color);
    }
}

.soc-wrap {
    @media screen and (max-width: 767px) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    @include desctop {
        margin-right: 90px;
    }

    &__text {
        @include font (700, 14px, 1.14, null);
        text-transform: uppercase;
        color: var(--tertiary-bg-and-text-color);
        // padding-top: 12px;
        text-align: center;
        margin-bottom: 20px;
        @include desctop {
            text-align: left;
        } 
    }
}
/* Стилі для іконок-соцмереж див. у файлі "_soc-icons.scss" цієї папки Common*/

/* Підписка на розсилку */
.signup-form {
    width: 100%;
    text-align: center;
    @include desctop {
        width: 663px;
        text-align: left;
    }

    &__text {
        @include font (700, 14px, 1.14);
        text-transform: uppercase;
        color: var(--tertiary-bg-and-text-color);
        margin-bottom: 20px;
    }

    &__input {
        height: 50px;
        width: 100%;
        @include tablet {
            width: 450px;
            margin-bottom: 20px;
        }
        @include desctop {
            width: 358px;
            margin-right: 12px;
            margin-bottom: 0;
        }
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        padding-left: 16px;
        color: rgba(255, 255, 255, 0.3);
        @include font (400, 16px, 1.25);
        transition: outline-color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
        
        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25px;
        }
        &:focus-within {
            border: none;
            outline: 1px solid rgba(255, 255, 255, 0.3);
        }    
    }
    &__btn-wrap {
        position: relative;
        width: 200px;
        height: 50px;
        display: inline-block;
        margin-top: 20px;
        @media screen and (min-width: 768px) and (max-width: 1599px){
            display: block;
            margin: 0 auto;
        }
        @include desctop {
            margin-top: 0;
        }
    }

    &__btn {
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border-color: transparent;
        background-color: var(--primary-accent-bg-and-text-color);
        color: var(--tertiary-bg-and-text-color);
        cursor: pointer;
        @include font (700, 16px, 1.9, 0.06em);
        padding-right: 62px;
        
        &-icon {
            position: absolute;
            top: 50%;
            right: 28px;
            transform: translateY(-50%);
        }   
    }
}
