/*  Header  */
.header-container {
    padding-top: 16px;
    padding-bottom: 16px;
    @include tablet {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    @include desctop {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}
.header-wrap {
    position: relative;
    @include centerFlex($jc: null);
    @media screen and (min-width: 768px) and (max-width: 1599px) {
        justify-content: space-between;
    }
    @include desctop {
        padding-left: 215px;
        padding-right: 215px;
    }
}
.portfolio-header {
    border-bottom: 1px solid #ECECEC;
}

/* Панель навігації*/
.nav-list {
    display: none;
    @include tablet {
        display: flex;
        gap: 50px;
    }
    
    &__link {
        position: relative;
        color: var(--primary-text-color);
        transition: color 250ms var(--transition-timing-function);
        @include font (500, 14px, 1.1, 0.02em);
        
        &:hover,
        &:focus {
            color: var(--primary-accent-bg-and-text-color);
        }
        &--current {
            color: var(--primary-accent-bg-and-text-color);
        }
        &--current::after {
            position: absolute;
            left: 0;
            bottom: -33px;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--primary-accent-bg-and-text-color);
            border-radius: 2px;
            opacity: 1;
            transition: opacity 250ms var(--transition-timing-function);
        }
    }
}   
// Мобільне випадаюче меню

.menu-toggle {
    position: absolute;
    top: 6px;
    right: 7px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms var(--transition-timing-function);
    @include tablet {
        display: none;
    }
    &__icon:hover,
    &__icon:focus {
        fill: var(--primary-accent-bg-and-text-color);
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--tertiary-bg-and-text-color);
    transform: translateY(-100%);
    transition: transform 300ms var(--transition-timing-function);
    z-index: 1;
    overflow: hidden;
    @include tablet {
        display: none;
    }
    &.is-open {
        transform: translateY(0);
    }
    &.is-open .menu-toggle {
        position: absolute;
        top: 21px;
        right: 25.33px;
        padding: 0;    
    } 
}

.mobile-menu {
    &__item:not(:last-child) {
        margin-bottom: 32px; 
    }
    
    &__link {
        @include font (500, 40px, 1.17, 0.02em);
        color: var(--primary-text-color);

        &--current {
            @include font (500, 40px, 1.17, 0.02em);   
            color: #2196F3;
        }
    }
}
.mobile-menu-contacts-wrap {
    position: fixed;
    bottom: 48px;
}
.mobile-menu-contacts {
    margin-bottom: 62px;
    
    &__item:not(:last-child) {
        margin-bottom: 34px;
    }

    &__link {
        @include font (500, 24px, 1.17, 0.02em);    
        color: #757575;

        &:hover,
        &:focus {
            @include font (500, 34px, 1.18, 0.02em);
            color: #2196F3;
        }
    }  
}

.mobile-menu-soc-list {
    display: flex;
    gap: 9px;

    &__item:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }

    &__link {
        @include font (500, 18px, 1.2, 0.02em);
        color: #2196F3;
    }
}


/* Адреса та контакти */

.header-contacts {
    display: none;
    @include tablet {
        display: block;
    }
    @include desctop {
        display: flex;        
        gap: 50px;
        margin-left: auto;
    }
    &__item:not(:last-child) {
        @media screen and (min-width: 768px) and (max-width: 1599px) {
            margin-bottom: 10px;
        }
    }

    &__link {
        @include centerFlex($jc: null);
        color: var(--secondary-text-color);
        transition: color 250ms var(--transition-timing-function);
        @include tablet {
            @include font (500, 12px, 1.17);
        }
        @include desctop {
            @include font (500, 14px, 1.1);
        }

        &:hover,
        &:focus {
            color: var(--primary-accent-bg-and-text-color);
        }
    }

    &__icon-envelope {
        fill: currentColor;
        margin-right: 10px;

        &:hover,
        &:focus {
            fill: var(--primary-accent-bg-and-text-color);
        }
    }

    &__icon-smartphone {
        fill: currentColor;
        margin-right: 10px;

        &:hover,
        &:focus {
            fill: var(--primary-accent-bg-and-text-color);
        }    
    }
}