/* Переваги студії */
.advant-container {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desctop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.advant-list {
    gap: 30px;
    @include tablet {
        @include centerFlex($ai: null);
        flex-wrap: wrap;
    }

    &__item {
        max-width: 450px;
        @include tablet {
            max-width: 354px;
        }
        @include desctop {
            max-width: 270px;
        }
    }
    &__item:not(:last-child) {
        @media screen and (max-width: 479px) {
            margin-bottom: 30px;
        }
    }

    &__title {
        @media screen and (max-width: 479px) {
        text-align: center; 
        }
        @include font (null, 14px, 1.1);
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__desc {
        color: var(--secondary-text-color);
        @include font (null, 14px, 1.7);
    }

    &__icon-wrap {
        background-color: var(--secondary-bg-color);
        height: 120px;
        border-radius: 4px;
        margin-bottom: 30px;
        @include centerFlex ();
    }
}

