
/* Постійні клієнти */

.clients-container {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desctop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.container__clients-section-title {
    margin-bottom: 30px;
    @include font (null, 28px, 1.17);
    text-align: center;
    @include desctop {
        margin-bottom: 50px;
        @include font (null, 36px, 1.17);            
    }
}
.clients-list {
    @include centerFlex($ai: null);
    gap: 30px;
    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }

    &__item {
        @include tablet {
            flex-basis: calc((100% - 90px) / 3);
        }
        @include desctop {
            flex-basis: calc((100% - 150px) / 6);
        }

    }    

    &__link {
        @include centerFlex ();
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        fill: #AFB1B8;
        transition: fill 250ms var(--transition-timing-function), border 250ms var(--transition-timing-function);
        height: 92px;
        width: 210px;
        @include tablet {
            flex-basis: 226px;
        }
        @include desctop {
            flex-basis: 170px;
            width: 100%;
        }

            &:hover,
            &:focus {
                fill: var(--primary-accent-bg-and-text-color);
                border: 1px solid var(--primary-accent-bg-and-text-color);
            }
    }
}