//  Текстові стилі

@mixin font ($fw, $fs, $lh, $ls: 0.03em) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}

//  Центрування

@mixin centerFlex($d: flex, $ai: center, $jc: center) {
    display: $d;
    align-items: $ai;
    justify-content: $jc;
}

// Адаптивна верстка (медіа-запити) 

@mixin mobile {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desctop {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
